<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Física Clássica</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

</head>
<body ng-app="fisica">
    <div  ng-controller="questionsController" ng-cloak>
        <md-content class="md-padding">
            <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" >
                <md-nav-item md-nav-click="goto('page1')" name="page1" style="padding-left: 500px">Questão 1</md-nav-item>
                <md-nav-item md-nav-click="goto('page2')" name="page2">Questão 2</md-nav-item>
                <md-nav-item md-nav-click="goto('page3')" name="page3">Questão 3</md-nav-item>
            </md-nav-bar>

            <div>
                
                <!-- Questão 1 -->

                <div ng-show="currentNavItem == 'page1'" >
                    <h1 style="text-align: center;">Lei de coulomb</h1>
                    <div style="padding-top: 100px; text-align: center">
                        <md-input-container > 
                            <label>Q1</label>
                            <input ng-model="q1" style="width: 500px">
                        </md-input-container>
                        x<span style="font-size: 20px">10</span>^
                        <md-input-container > 
                            <label>exp</label>
                            <input ng-model="exp1" style="width: 40px">
                        </md-input-container>
                        <p>
                            <md-input-container > 
                                <label>Q2</label>
                                <input ng-model="q2" style="width: 500px">
                            </md-input-container>
                            x<span style="font-size: 20px">10</span>^
                            <md-input-container > 
                                <label>exp</label>
                                <input ng-model="exp2" style="width: 40px">
                            </md-input-container>
                        </p>
                        <p>
                            <md-input-container > 
                                <label>Distância em metros</label>
                                <input ng-model="dist" style="width: 200px">
                            </md-input-container>
                        </p>
                        <div>
                            <md-button class="md-raised" ng-click="calculaForca(); dist = undefined; q1 = undefined; q2 = undefined; exp1 = undefined; exp2 = undefined">Ok</md-button>
                            <div style="background-color: #F8BBD0;">{{result}}</div>
                        </div>
                    </div>

                </div>

            <!-- /////// Questão 1 -->

                <div ng-show="currentNavItem == 'page2'">
                    <h1 style="text-align: center;">Energia química consumida por uma bateria</h1>
                    <h3 style="text-align: center">(Através de um fio)</h3>
                    <div style="text-align: center">
                        <md-input-container > 
                            <label>Resistência do fio</label>
                            <input ng-model="rfio" style="width: 500px">
                        </md-input-container>
                        <p>
                            <md-input-container > 
                                <label>Resistência interna da bateria</label>
                                <input ng-model="rbateria" style="width: 500px">
                            </md-input-container>
                        </p>

                        <p>
                            <md-input-container > 
                                <label>Tempo em minutos</label>
                                <input ng-model="tempo" style="width: 500px">
                            </md-input-container>
                        </p>

                        <p>
                            <md-input-container > 
                                <label>Força eletromotriz</label>
                                <input ng-model="eletromotriz" style="width: 500px">
                            </md-input-container>
                        </p>
                        <div>
                            <md-button class="md-raised" ng-click="calculaEnergia(); rfio=undefined;rbateria=undefined;tempo=undefined;eletromotriz=undefined">OK</md-button>
                            <div style="background-color: #F8BBD0;  text-align: center;">{{energia}}</div>
                        </div>
                    </div>
                </div>

                <div ng-show="currentNavItem == 'page3'">
                    <h1>Questão sobre campo magnético</h1>
                </div>
            </div>

        </md-content>

    </div>

    <!--Bibliotecas do angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-messages.min.js"></script>


    <!--Bibliotecas do angular material-->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!--scripts-->
    <script src="MyApp.js"></script>
</body>
</html>